.dashboard-table
{
	margin: 0 0%;
	font-size: x-large;
	width: 100%;
	padding: 0 10%;
}

.main
{
	padding: 20px 100px;
}

.dashboard-table td
{
	padding: .3em 1em;
}

.dashboard-table button
{
	font-size: x-large;
}